:root {
    --primary-color: #4ea4f6;
    --third-color: #e6ebee;
    --second-text-color: #d5d7d8;
    --component-border-color: #dadce0;
    --component-min-height: 52px;
    --component-normal-state-border-weight: 1px;
    --component-active-state-border-weight: 2px;
}

.html,
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

input, select {
    outline: none;
    border: none;
}

#appication {
    position: relative;
    width: 100%;
    height: 100%;
}

.ui-layout {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.ui-text__center {
    text-align: center;
}

.ui-button {

}

.ui-form {
    position: relative;
    display: flex;
    width: 100%;
}

.ui-form.ui-form__incolumn {
    flex-direction: column;
}

.ui-form__incolumn .ui-input,
.ui-form__incolumn .ui-select {
    width: 100%;
}

.ui-form__row {
    position: relative;
    display: flex;
    margin-bottom: 23px;
    width: 100%;
}


.ui-input,
.ui-select {
    border: var(--component-normal-state-border-weight) solid var(--component-border-color);
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
}

.ui-input:focus {
    border-width: var(--component-active-state-border-weight);
    border-color: var(--primary-color);
}

.ui-select {
    cursor: pointer;
    padding: 0;
}

.ui-dropdown__root {
    padding: 15px;
    min-height: var(--component-min-height);
}

.ui-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .ui-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .ui-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .ui-container {
        width: 1170px;
    }
}


.UiLogin_layout {
    display: flex;
}

.UiLogin_layout__container {
    margin: 0 auto;
    max-width: 360px;
    padding: 30px;
    margin-top: 60px;
}

.UiLogin_layout__wrapper {
    width: 100%;
    height: 100%;
}

.ui-sign-in__node {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ui-sign-in__logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #4ea4f6 url('./assets/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
}


.ui-sign-in__title {
    color: black;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 19px;
}

.ui-sign-in__text {
    color: var(--second-text-color);
    margin-bottom: 48px;
    margin-top: 0;
}



.UiChat_layout__node {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.ui-chat__sidebar {
    position: relative;
    display: flex;
    height: 100%;
    width: 420px;
    flex-shrink: 0;
    border-right: 1px solid var(--component-border-color);
}

.ui-sidebar__header {

}

.ui-sidebar__body {

}

.ui-sidebar__chat-list {

}

.ui-sidebar__footer {

}

.ui-chat__content {
    position: relative;
    height: 100%;
    flex-grow: 1;
    background-color: var(--third-color);
}

.ui-chat__list {

}

.ui-chat__list-item {

}