.ui-history__node {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ui-history__header {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid var(--component-border-color);
    z-index: 1;
    flex-shrink: 0;
    padding: 8px 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ui-history__body {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.ui-history__body-scrollable {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.ui-history__user {}

.ui-history__chat {}

.ui-history__channel {}

.ui-history__container {
    width: 100%;
    max-width: 696px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 696px;
    margin: 0 auto;
}

.ui-history__row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ui-history__row_out {
    align-items: flex-end;
}

.ui-history__row {

}